$primary: #57AEFF !default;
$secondary: #FFFFFF !default;
$accent-one: #FFFFFF !default;
$accent-two: rgba(grey, 0.5) !default;
$success: #008000 !default;
$info: #6495ED !default;
$failure: #FF0000 !default;
