@import 'normalize';
@import 'skeleton';
@import 'variables';

body {
  background-color: $primary;
}

.list-item-unstyled {
  list-style: none;
}

.nav {
  background-color: $accent-one;
  margin-bottom: 16px;
}

.nav__item-container {
  @media (max-width: 400px) {
    &:first-child {
      margin-top: 10px;
    }
  }
}

.nav__item {
  text-decoration: none;
  padding: 0 5px 0 5px;
  &--active {
    background-color: $accent-two;
  }
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

.content {
  background-color: $secondary;
  padding: 20px;
}

.alerts-container {
  top: 25px;
  position: fixed;
  width: 100%;
  z-index: 10;

  &--success {
    background-color: $success;
  }
  &--info {
    background-color: $info;
  }
  &--failure {
    background-color: $failure;
  }
}

.alert-item {
  display: block;
}

.flexzone {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;

  @media (min-width: $mobile) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.crankings__table td, thead th {
  @media (max-width: $mobile) {
    display: none;

    &:first-child, &:last-child {
      display: table-cell;
    }
  }
}
