@import 'normalize';
@import 'skeleton';
@import 'variables';

body {
  background-color: $primary;
}

.list-item-unstyled {
  list-style: none;
  display: inline-block;
}

.nav {
  background-color: $accent-one;
  margin-bottom: 16px;
}

.nav__item {
  text-decoration: none;
  padding: 0 10px 0 0;
  &--active {
    background-color: $accent-two;
  }
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

.content {
  background-color: $secondary;
  padding: 20px;
}

.alerts-container {
  position: absolute;
  right: 10%;
  background-color: $accent-one;
}

.alert-item {
  display: block;
}
